
.btn-group {
    position: absolute;
    display: flex;
    padding: 0 2px;
    height: 25px;
    right: 2%;
}

.barchart_button {
    position: relative;
    border: 0;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    background-color: rgba(50, 0, 60, 0.3);
    border-left: 1px solid black;
}

.barchart_button:hover {
    background-color: rgba(50, 0, 60, 0.5);
}

.barchart_button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.right-rounded {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 1px solid black;
}

.left-rounded {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.download-btn {
    width: 20%;
    padding: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid;
    color: white;
    font-size: 0.7em;
}

.download-btn:hover {
    color: black;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    border-color: rgb(17, 33, 37);
}

@media only screen and (max-width: 800px) {
.btn-group{
    bottom: 0%;
    right: 0%;
}
}