.tabel{
    width: 100%;
    height: 64vh;
    overflow: auto
}

table {
    border-spacing: 0; 
    width: 50%;
    border: 1px solid #dddd;
}


th{
    position: sticky;
    top: 0;
    text-align: left;
}

th,td { 
    padding: 5px;
    width: 11%;
    padding-top: 1em;
    padding-top: 1em;   
    text-align: center;
    font-size: 1em;
} 

th,td:nth-child(0){
    background-color: #eb901a 
}

tr:nth-child(even) { 
    background-color: rgb(215, 215, 215)
}
tr:nth-child(odd) { 
    background-color: #e6e6e6
}  

.headerSortDown:after,
.headerSortUp:after{
    content: ' ';
    position: relative;
    border: 7px solid transparent;
}

.headerSortDown:after{
    top: 10px;
    border-top-color: silver;
}

.headerSortUp:after{
    bottom: 15px;
    border-bottom-color: silver;
}

.headerSortDown,
.headerSortUp{
}

tr:hover{
    background-color: white;
}

#myTable{
    width: 100%;
}