.button-group button {
    background-color: #2b376e;
    border: 1px solid #1e214d; 
    color: white; 
    padding: 15px;
    cursor: pointer;
    display: block;
    top:150px;
    width: 100%;
    font-size: 1em;
  }


  .button-group button:hover {
    background-color: #3941b3;
  }

  .button-group {
    text-align: center;
  }
