

.header {
    /* padding: 10px; */
    display: grid;
    grid-template-areas: "headerinfo harta" "criterii harta";
    grid-template-columns: 40% 60%;
    grid-template-rows: auto 50px;
}

.criterii {
    grid-area: criterii;
    color: white;
}

.header-info {
    grid-area: headerinfo;
    text-align: center;
}

h2, h1, h3, h4 {
    color: white;
    padding-top: 3vmin;
}

h2{
    font-size: min(65px,4vmin);
}

h1{
    font-size: min(65px,6vmin);
    line-height: 0px;
}
h3{
    font-size: min(65px,5vmin);
    line-height: 0px;
}
h4{
    font-size: min(65px,10vmin);
    line-height: 0px;
}



.header {
    /* padding: 10px; */
    display: grid;
    grid-template-areas: "headerinfo harta" "criterii harta";
    grid-template-columns: 40% 60%;
    grid-template-rows: auto 50px;
}

.criterii {
    grid-area: criterii;
    color: white;
}

@media only screen and (max-width: 800px) and (min-aspect-ratio: 3/5) {

    h2, h1, h3, h4 {
        margin: 1vmin;
    }

    h4 {
        flex: 1;
        text-align: right;
        padding-right: 10%;
        padding-top: 10%;
    }

}