.land {
    fill: rgb(236, 139, 139);
    fill-opacity: 1;
    stroke: white;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.land:hover {
    stroke-width: 4px;
}

#tooltipText {
    fill: white;
}

#romanian_map{
    width: 100%;
}