.land
{
    fill: #8e5ea2;
    fill-opacity: 1;
    stroke:white;
    stroke-opacity: 1;
}

#romanian_map {
    width:100%;
    height:100%;
    border: 5px dotted red; /*Debug*/
    overflow: visible;
    stroke-width: 1px;
}

