@media only screen and (max-width: 800px) {

    .wrapper {
        grid-template-areas: "head" "pie1" "pie2" "bar1" "pie3" "bar2" "tabel";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 0;
    }

    .element {
        width: 100vw;
        padding-bottom: 30px;
        margin: auto;
    }

    .harta {
        height: min(95vh, 200vw);
    }

    .pie {
        height: min(95vh, 70vw);
    }

    .bar {
        height: min(50vw, 300px);
    }

    .header {
        padding: 0;
        display: grid;
        grid-template-areas: "headerinfo" "harta" "criterii";
        grid-template-columns: 100vw;
        grid-template-rows: 20% 70% 10%;
        height: 95vh;
    }

    .map-container {
        grid-area: harta;
        height: min(100%, 90vw);
        /* border: 5px dotted black; */
    }

    .header-info,.criterii,.map-container{
        /* border: 5px dotted white; */
        /* border-radius: 30px; */
        height: 100%;
    }
}



/* responsive header */
@media only screen and (max-width: 800px) and (min-aspect-ratio: 3/5) {

    .header-info {
        display: flex;
        justify-content: space-around;
    }

    .header-gr-1, #header-procent-value {
        display: flex;
        flex-direction: column;
        /* border: 3px dotted cyan; */
        width: 40%;
        height: 100%;
    }

    .header-gr-1 {
        flex: 3;
        text-align: left;
        padding-left: 10%;
    }
}
