body{
    background-color: white;
}

.wrapper{
    border: 1px solid black;
    width: min(1200px, 100%);
    margin: auto;
    display: grid;
    grid-template-areas: "a a a a"
                         "b b x x"
                         "c c c d"
                         "f e e e";
    grid-template-columns: 300px 1fr 1fr 300px;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.element{
    height: 300px;
}

.a{
    height: min(500px, 95vh);
    grid-area: a;
    background-color: red;
}
.b{
    grid-area: b;
    background-color: green;
}
.c{
    grid-area: c;
    background-color: blue;
}
.d{
    grid-area: d;
    background-color: purple;
}
.e{
    grid-area: e;
    background-color: yellow;
}
.f{
    grid-area: f;
    background-color: gray;
}

.x{
    grid-area: x;
    background-color: orange;
}



