body {
    background-color: rgb(33, 62, 71);
}

h2, h1, h3 {
    color: white;
}

/* map */
.header {
    /* padding: 10px; */
    display: grid;
    grid-template-areas: "headerinfo harta";
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
}


.element {
    height: 300px;
}

.header-info {
    border-left: 1px solid white; /*debug*/
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    grid-area: headerinfo;
    overflow: hidden; /*todo*/
    text-align: center;
}

.map-container {
    grid-area: harta;
    display: flex;
}

#romanian_map {
    width: 100%;
}

.chart-container {
    position: relative;
    /* border: 2px dotted pink; */
}


.chart {
    position: absolute;
}


/* barchart */
.c {
    position: relative;
}

#lineBarChart {
    position: absolute;
}


.wrapper {
    width: min(1200px, 100%);
    margin: auto;
    display: grid;
    grid-template-areas: "a a a a" "b b x x" "c c c c" "f e e e" "tabel tabel tabel tabel";
    grid-template-columns: 300px 1fr 1fr 300px;
    grid-template-rows: auto;
    /* grid-gap: 5px; */
}

.a {
    height: min(500px, 95vh);
    grid-area: a;
    background-color: rgb(47, 66, 71);
}

.b {
    grid-area: b;
    background-color: rgb(96, 131, 139);
}

.c {
    grid-area: c;
    background-color: rgb(47, 66, 71);
}

.e {
    grid-area: e;
    background-color: rgb(96, 131, 139);
}

.f {
    grid-area: f;
    background-color: rgb(96, 131, 139);
}

.x {
    grid-area: x;
    background-color: rgb(96, 131, 139);
}

.tabel {
    grid-area: tabel;
    background-color: rgb(136, 112, 112);
}

.land {
    fill: rgb(236, 139, 139);
    fill-opacity: 1;
    stroke: white;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.land:hover {
    stroke-width: 4px;
}


@media only screen and (max-width: 800px) {
    body {
        background-color: black;
    }

    .wrapper {
        grid-template-areas: "a" "b" "x" "c" "f" "e" "tabel";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 0;
    }

    .element {
        width: 100vw;
        padding-bottom: 30px;
        padding-top: 30px;
        margin: auto;
    }

    .harta {
        height: min(95vh, 200vw);
    }

    .pie {
        height: min(95vh, 70vw);
    }

    .bar {
        height: min(50vw, 300px);
    }


    .header {
        padding: 0;
        display: grid;
        grid-template-areas: "headerinfo" "harta";
        grid-template-columns: 100vw;
        grid-template-rows: 20% 80%;
    }


    #romanian_map {
        height: min(100%, 90vw);
    }


}

.barchart_button {
    position: absolute;
    top: 5%;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
    width: 5%;
    height: 7%;
}

.barchart_button:hover {
    background-color: rgba(255, 0, 0, 1);
}

.barchart_button:active {

    width: 5%;
    height: 7%;
    position: absolute;
    top: 5%;
    right: 5%;
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#barchart_button1 {
    right: 10%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

#barchart_button2 {
    right: 5%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
#barchart_button01 {
    right: 20%;
}
#barchart_button02 {
    right: 15%;
}
#barchart_button03 {
    right: 10%;
}
#barchart_button04 {
    right: 5%;
}


#tooltipText {
    fill: white;
}

#barchart_varste_educatie {
    display: flex;
    flex-direction: column;
    justify-content: center;
}