body{
    background-color: white;
}

/* map */
.header{
    /* padding: 10px; */
    display: grid;
    grid-template-areas: "headerinfo harta";
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
}


.element{
    height: 300px;
    opacity: 90%;
}

.header-info{
    border: 1px solid white; /*debug*/
    grid-area: headerinfo;
    overflow: hidden; /*todo*/
}

.map-container{
    grid-area: harta;
    display: flex;
}

#romanian_map{
    width: 100%;
}

.chart-container{
    position: relative;
    border: 2px dotted pink;
}


.chart{
    position: absolute;
}



/* barchart */
.c{
    position: relative;
}

#lineBarChart{
    position: absolute;
}




.wrapper{
    width: min(1200px, 100%);
    margin: auto;
    display: grid;
    grid-template-areas: "a a a a"
                         "b b x x"
                         "c c c d"
                         "f e e e";
    grid-template-columns: 300px 1fr 1fr 300px;
    grid-template-rows: auto;
    /* grid-gap: 5px; */
}

.a{
    height: min(500px, 95vh);
    grid-area: a;
    background-color: red;
}
.b{
    grid-area: b;
    background-color: green;
}
.c{
    grid-area: c;
    background-color: black;
}
.d{
    grid-area: d;
    background-color: purple;
}
.e{
    grid-area: e;
    background-color: yellow;
}
.f{
    grid-area: f;
    background-color: gray;
}

.x{
    grid-area: x;
    background-color: orange;
    background-o;
}

.land
{
    fill: rgb(120,140,255);
    fill-opacity: 1;
    stroke:white;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.land:hover{
    stroke-width: 4px;
}



@media only screen and (max-width: 800px) {
    body {
      background-color: black;
    }
    .wrapper{
        grid-template-areas: "a"
                             "b"
                             "x"
                             "c"
                             "d"
                             "f"
                             "e";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 0;
    }

    .element{
        width:100vw;
        padding-bottom: 30px;
        padding-top: 30px;
        margin:auto;
    }

    .harta{
        height: min(95vh, 200vw);
    }

    .pie{
        height: min(95vh, 100vw);
    }

    .bar{
        height: min(50vw, 300px);
    }


    .header{
        padding: 0;
        display: grid;
        grid-template-areas: 
        "headerinfo" 
        "harta";
        grid-template-columns: 100vw;
        grid-template-rows: 20% 80%;
    }


    #romanian_map { 
        height: min(100%, 90vw);
    }
  }