.button-group button {
    background-color: #2b376e;
    border: 1px solid #1e214d;
    font-family: "Comic Sans MS";
    color: white;
    padding: 15px;
    cursor: pointer;
    top: 150px;
    width: 50%;
    font-size: 1em;
    display: none;
    overflow: auto;
    height: 20%;

}


.button-group button:hover {
    background-color: #3941b3;
}

.button-group {
    text-align: center;

    overflow: auto;
}

.button-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}